body{
    max-width: 1200px;
    margin:auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    height: 5em;
    /* position: fixed;
    z-index: 1000; */
}
#navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:85%;
}
#logo{
    width:15%;
    padding-right:1.5em;
    box-sizing: border-box;
}
#navbar ul{
    padding:0px;
    margin:0px;
}
#navbar ul li{
    list-style-type:none;
    display: inline;
}
#navbar ul li a{
    text-decoration: none;
}
#hamburger-menu {
    width:50px;
    height:35px;
    background-color: black;
    display:none;
    border-radius: 15%;
}
.hamburger-line{
    width:30px;
    margin: 5px auto;
    height: 5px;
    background-color: white;
    display: block;
    box-sizing: border-box;
}
#hamburger-menu:hover{
    cursor: pointer;
    background-color: rgb(60, 60, 60);
    
}
#hamburger-menu:hover .hamburger-line{
    background-color: rgb(220, 220, 220);
}
#menu-1{
    display: flex;
    flex-wrap:wrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1.1em;
    color:rgb(225,225,225);
}
#menu-1 a,#menu-1 select{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:0.9em;
    text-shadow: 0px 0px 1px black;
    padding-bottom: 5px;
    box-sizing: border-box;
    color:rgb(60, 60, 60);
    margin-right:1.25em;
    border:none;
}
#menu-1 a:hover,#menu-1 select:hover{
    cursor:pointer;
    text-shadow: 0px 0px 5px rgb(80, 80, 80);
}
#menu-1 a:hover{
    border-bottom:1px solid rgb(60, 60, 60);
}
#menu-2{
    display: flex;
    flex-wrap:wrap;
    font-size: 1em;
}
#search{
    display: flex;
    flex-wrap: wrap;
}
#search input{
    display:none;
}
#menu-2 ul li{
    margin-left:0.75em;
}
#menu-2 ul li:hover{
    cursor: pointer;
}
#menu-2 .notification{
    font-size:0.75em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aqua;
    padding: 0.25em;
    border-radius: 50%;
    box-sizing: border-box;
    text-align: center;
    position:relative;
    top:-1em;
    left:-1em;
}
/* Lucacia css */
.tous{
    display: flex;
}
#category{
    position: sticky;
    top: 0;
    border: 1px solid black;
    width: 20%;
    padding-top: 20px;
    
}
.article{
    display: flex;
    margin-left: 60px;
}
.article img{
    width: 70px;
    height: 70px;
}
.article a{
    text-decoration: none;
    font-family: cursive;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 40px;
    color: black;
}
#mesure input{
    width: 50px;
}
#page{
    border: 1px solid black;
    width: 80%;
}
#genre{
    margin-top: 20px ;
    margin-left: 80%;
   
}
#men{
    background-image: linear-gradient(grey);
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;

}
#women{
    background-image: linear-gradient(grey);
    margin-left: auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
#box{
    flex-wrap: wrap;
    display: inline-flex;
    width:100%;
}
.bottom{
    display: flex;
    align-items: center;
    margin-left: 80px;
}
.bottom .bottom-right{
    margin-left: 20px;
}
.bottom-right input{
    width: 50px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid wheat;
}
.bottom-right i{
    margin-left: 20px;
}
.item .bottom-right{
opacity: 0;
}
.item :hover .bottom-right{
    opacity: 1;
}
.item{
    background: bisque;
    width:30%;
    margin:15px;
}
.hoo{
    margin-left: 30px;
    font-family:"'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif";
}
/*Mialy's Code Footer*/
#information{
    margin-top:75px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    color: grey;
}
.information-1{
    width: 20%;
    display:flex;
    flex-direction: column;
    align-items:center;
}
.information-1 p{
    text-align: center;
    font-size: 1em;
}
footer{
    display: flex;
    justify-content: space-around;
    color: grey;
    margin-top:50px;
}
footer div{
    width: 25%;
    font-size:0.9em;
}
footer div h3{
    color:rgb(40, 40, 40);
    font-size: 1em;
    margin-bottom: 35px;
}
footer div p{
    padding: 0px;
    margin-bottom: 1px;
}
#contact{
    display: flex;
    padding: 1px;
    border:1px solid rgb(140, 140, 140);
    width:100%;
    height: 15%;
    margin-top:40px;
}
#contact input{
    border:none;
    width:80%;
}
#contact button{
    width:19%;
    border:none;
    background-color: white;
    color:rgb(20, 20, 20);
    font-weight: 700;
}
#contact button:hover{
    background-color: rgb(220, 220, 220);
}
#icons{
    display: flex;
    margin-top:40px;
    font-size: 1.5em;
    color: rgb(180, 180, 180);
}
#icons i{
    margin-right:15px;
}
#farany {
    display: flex;
    justify-content: space-between;
    color: rgb(140, 140, 140);
    font-size:0.9em;
    margin-bottom: 10px;
}
#farany span a{
    text-decoration: none;
    color: rgb(140, 140, 140);
    margin-left:10px;
}
#farany span a:hover{
    border-bottom: 1px solid rgb(140, 140, 140);
}
/*END Mialy's Code*/