@keyframes light{
    0%{
        text-shadow: 1px 2px 0px rgb(255,0,0);
    }
    15%{
        text-shadow: 1px 2px 4px rgb(255,0,0);
    }
    25%{
        text-shadow: 1px 2px 1px rgb(255,0,0);
    }
    50%{
        text-shadow: 1px 2px 8px rgb(255,0,0);
    }
    75%{
        text-shadow: 1px 2px 2px rgb(255,0,0);
    }
    85%{
        text-shadow: 1px 2px 5px rgb(255,0,0);
    }
    100%{
        text-shadow: 1px 2px 1px rgb(255,0,0);
    }
}
@keyframes show{
    0%{
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}
@keyframes spider{
    0%{
        transform: translate(0,-250px);
    }
    50%{
        transform:translate(0,0);
    }
    75%{
        transform:translate(0,-10px);
    }
    100%{
        transform: translate(0,0);
    }
}

body{
    max-width: 1200px;
    margin:auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 50px;
}
header {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    height: 5em;
    position:sticky;
    top:0px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(80, 80, 80, 0.8);
    z-index: 5;
}
#header>a{
    display:block;
    width:15%;
}
#navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:85%;
}
#logo{
    width:100%;
    padding-right:1.5em;
    box-sizing: border-box;
}
#navbar ul{
    padding:0px;
    margin:0px;
}
#navbar ul li{
    list-style-type:none;
    display: inline;
}
#navbar ul li a{
    text-decoration: none;
}
#hamburger-menu {
    width:100px;
    height:35px;
    background-color: black;
    display:none;
    border-radius: 15%;
}
.hamburger-line{
    width:30px;
    margin: 5px auto;
    height: 5px;
    background-color: white;
    display: block;
    box-sizing: border-box;
}
#hamburger-menu:hover{
    cursor: pointer;
    background-color: rgb(60, 60, 60);
    
}
#hamburger-menu:hover .hamburger-line{
    background-color: rgb(220, 220, 220);
}
#menu-1{
    display: flex;
    flex-wrap:wrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1.1em;
    color:rgb(225,225,225);
}
#menu-1 a,#menu-1 select{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:0.9em;
    text-shadow: 0px 0px 1px black;
    padding-bottom: 5px;
    box-sizing: border-box;
    color:rgb(60, 60, 60);
    margin-right:1.25em;
    border:none;
}
#menu-1 a:hover,#menu-1 select:hover{
    cursor:pointer;
    text-shadow: 0px 0px 5px rgb(80, 80, 80);
}
#menu-1 a:hover{
    border-bottom:1px solid rgb(60, 60, 60);
}
#menu-2{
    display: flex;
    flex-wrap:wrap;
    font-size: 1em;
}
#search{
    display: flex;
    flex-wrap: wrap;
}
#search input{
    display:none;
}
#menu-2 ul li{
    margin-left:0.75em;
}
#menu-2 ul li:hover{
    cursor: pointer;
}
.notification{
    font-size:0.75em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aqua;
    padding: 0.25em;
    border-radius: 50%;
    box-sizing: border-box;
    text-align: center;
    position:relative;
    top:-1em;
    left:-1em;
}
/*ANJARA's Code*/
@media screen and (max-width:800px){
    /*Anjara's Above and Navbar*/
    header{
        justify-content: space-between;
    }
    #logo{
        width: 20%;
    }
    #navbar{
        display: flex;
        flex-direction: row-reverse;
        width:75%;
    }
    #menu-1{
        display: none;
    }
    #menu-1 ul{
        position: absolute;
        border:1px solid rgb(180, 180, 180);
        background-color: white;
        top: 60px;
        right: 15px;
    }
    #menu-1 ul li{
        display: block;
    }
    #menu-2{
        align-items: center;
        margin:auto;
    }
    #menu-2 ul li{
        margin-right: 15px;
    }
    #hamburger-menu{
        display:block;
    }
    /*END Anjara's Above and Responsive*/
}

/*ANJARA's Shopping page */
#section-1{
    background-image: url(Image/Shopping/1.jpeg);
    background-repeat: auto;
    background-size: 100% 100%;
    width:100%;
    height: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#section-1-div{
    width:75%;
    background-color: rgba(255,255,255,0.8);
    font-size: 5em;
    box-shadow: 0px 0px 5px grey;
    padding: 20px;
}
#section-1-div p{
    margin:0px;
    padding:0px;
    color:rgb(50, 50, 50);
    text-shadow: 1px 0px 10px black;
}
#section-1-div p:nth-child(2){
    margin-left: 33%;

}
#section-1-div p:nth-child(3){
    text-align: end;
}
#section-2{
    margin:50px 0px;
    padding: 10px;
}
#section-2-selector{
    display: flex;
    justify-content: space-evenly;
    font-size: 2em;
    color: rgb(25, 25, 25);
    text-shadow: 0px 2px 2px black;
}
.section-2-selector-options{
    width:30%;
    box-shadow: 0px 0px 5px black;
    border-radius: 50px;
    text-align: center;
}
.section-2-selector-options p{
    margin:0px;
    padding:0px;
}
.section-2-selector-options:hover{
    background-color: grey;
    color:rgb(240, 240, 240);
    cursor: pointer;
}
#section-2-selector .active{
    background-color: rgb(20, 20, 20);
    color: white;
    text-shadow: 0px 0px 3px white;
}
.section-2-category{
    margin: 25px 0px;
    display: flex;
    justify-content: space-evenly;
}
.section-2-category-type{
    width:20%;
    border-radius: 25px;
    padding: 10px;
    background-color: rgb(240, 240, 240);
}
.section-2-category-type:hover{
    cursor:pointer;
    box-shadow: 0px 0px 4px black;
}
.section-2-category-type-image{
    width:100%;
    height: 35vh;
}
.section-2-category-type-image img{
    width:100%;
    height: 100%;
    border-radius: 200px;
}
.section-2-category-type p{
    text-align: center;
    font-size: 2.5em;
    color:rgb(20, 20, 20);
    text-shadow: 0px 0px 5px black;
}
#women .section-2-category-type{
    width:15%;
}
#women .section-2-category-type img{
    height: 30vh;
}
.section-2-category {
    display: none;
}
div[current_choice]{
    display:flex;
}
#section-3 h2{
    text-align: center;
    font-size: 2.5em;
    text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
    color: rgb(30, 30, 30);
    margin:0px;
    padding: 0px;
}
#section-3-container{
    display: flex;
    border:1px solid black;
    overflow: hidden;
}
#section-3-container-left{
    width:25%;
    border-right: 1px solid black;
    font-size: 2.5em;
    text-align: center;
}
#section-3-container-left p{
    color:rgb(230, 51, 6);
    text-shadow: -2px 0px 5px white;
    background-image: url(Image/Shopping/Promotion/Halloween/3.jpg);
    background-size: 100% 200%;
    animation: light;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    border-radius: 25px;
}
#section-3-container-right{
    width:75%;
    position:relative;
}
#halloween-promotion{
    /* background-color: rgba(10,10,10,1); */
    /* background-image: linear-gradient(75deg ,rgb(161, 97, 235),rgb(156, 84, 238)); */
    background-image: linear-gradient(75deg ,rgb(10, 10, 10),rgb(120, 120, 120));
}
#halloween-promotion-title {
    margin-bottom:25px;
}
#halloween-promotion-title div{
    display:flex;
    align-items: center;
    justify-content: center;
}

#halloween-promotion-title h3{
    margin:0px;
    font-size:4em;
    color:orange;
    text-shadow: -1px 2px 10px black;
}
#halloween-promotion-title img{
    width:50px;
    height:50px;
}
#halloween-promotion-title span{
    color:white;
    font-size: 2em;
    margin-left:25px;
    text-shadow:-1px 0px 3px white;
}
#halloween-promotion-header{
    position: relative;
    border:1px solid black;
    width:100%;
    height:75vh;
    display: flex;
    justify-content: center;
}
#spider {
    position:absolute;
    right:15px;
    animation:spider 2s;
}
#halloween-background{
    position:absolute;
    z-index: 1;
    background-image: url(Image/Shopping/Promotion/Halloween/1.jpeg);
    width:100%;
    height: 100%;
    background-size: 100% 100%;
}
#halloween-promotion-offers{
    position:absolute;
    z-index: 2;
    width:75%;
    background:rgba(220,220,220,0.9);
    margin-top:10px;
    border-radius: 25px;
    padding-left: 10px;
    box-shadow: -7px 10px 10px rgba(180,180,180,1);
}
#halloween-promotion-offers h2{
    font-size: 4em;
    color:rgb(250, 250, 250);
    text-shadow:-5px 5px rgb(25,25,25);
    font-family: cursive, Helvetica, sans-serif;
    text-align:start;
}
#halloween-promotion-offers ul li{
    list-style-type: none;
    margin-top:1em;
    display: flex;
    color: rgb(80, 80, 60);
    font-size: 2em;
    align-items: center;
    text-shadow: 0px 0px 3px ;
}
#halloween-promotion-offers ul li img{
    width:75px;
    height: 67px;
}
.promotion-shop{
    display: flex;
    margin-top:50px;
    align-items:center;
    justify-content: center;
}
.promotion-shop img{
    width:200px;
    height:150px;
}
.promotion-shop p{
    text-shadow: -3px -1px 5px red;
    color:red;
    font-size: 6em;
    margin:0px;
}
#halloween-articles{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.item{
    width: 30%;
    font-size:1.5em;
    background-color: rgba(240,240,240,0.8);
    position:relative;
    padding: 10px;
    box-shadow: 0px 0px 2px black;
    margin: 10px 0px;
    border-radius: 5px;
}
.item:hover{
    box-shadow:3px 0px 10px white,-3px 0px 10px white,0px 3px 10px white,0px -3px 10px white;
    cursor:pointer;
}
.item-image{
    height: 40vh;
}
.item-image img{
    width:100%;
    height: 100%;
}
.item p{
    margin:0px;
    padding:0px;
    text-shadow:0px 0px 3px black;
    margin-bottom:150px;
}
.item-bottom{
    position:absolute;
    bottom:0;
    display: flex;
    padding:10px 0px 10px 0px;
}
.price{
    font-size: 1.2em;
    color:rgb(20, 20, 20);
    text-shadow:0px 0px 2px black;
}
.cart-config{
    display:flex;
    justify-content: end;
    align-items: center;
    opacity:0;
}
.item:hover .cart-config{
    animation: show 1s;
    opacity:1;
}
.cart-config input{
    display: inline-block;
    width:50%;
    border:none;
    box-shadow:0px 0px 2px black;
    border-radius: 5px;
    font-size: 1em;
    margin:auto;
}
.icon-cart{
    display:flex;
}

.plus{
    position:relative;
    top:-15px;
    right:5px;
    background-color: rgba(50, 50, 50,0.75);
    border-radius:100px;
    text-shadow: 0px 0px 5px black;
    color: white;
}